{% extends 'config.master.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

    <h2 class="display-4 fs-4">
        Dobrodošli {{ user.first_name }} {{ user.last_name }}!<br>
        <div class="d-flex justify-content-between">
            <small class="text-muted">Company Management Software</small>
            <span><b>Dashboard</b></span>
        </div>  
    </h2>

{% if messages %}
    {% for message in messages %}
    <div class="row">
        <div class="toast show my-2 w-100 border-secondary" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="me-auto">Login - obavijest</strong>
                        <small>sada</small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        {{ message|safe }}
                    </div>
        </div>
    </div>
    {% endfor %}
{% endif %}

    <div class="row mb-5">
        <div class="col-4 rounded-start border border-1 border-secondary border-end-0">
            <h4 class="py-2 px-1 border-bottom"><i><i class="fa-solid fa-building-user"></i> {{ firma.naziv }}</i></h4>
            <div class="card my-2 shadow">
                <h5 class="card-header"><i>Detalji</i></h5>
                <div class="card-body">
                    <h5 class="card-title">Website <a href="{{ firma.web_stranica }}">{{ domena }}</a></h5>
                    <p class="card-text">{{ firma.opis|escape }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card h-100 shadow">
                        <h5 class="card-header">Uposlenici</h5>
                        <div class="card-body">
                            <table class="table table-bordered table-hover mb-0">
                                    <tbody>
                                        <tr>
                                            <td>Broj uspolenika</td>
                                            <td><b>15</b></td>
                                        </tr>
                                        <tr>
                                            <td>Na bolovanju</td>
                                            <td><b>5</b></td>
                                        </tr>
                                        <tr>
                                            <td>Na odmoru</td>
                                            <td><b>2</b></td>
                                        </tr>
                                    </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card shadow">
                        <h5 class="card-header">Vozila</h5>
                        <div class="card-body">
                                <table class="table table-bordered table-hover mb-0">
                                    <tbody>
                                        <tr>
                                            <td>Aktivna vozila</td>
                                            <td><b>30</b></td>
                                        </tr>
                                        <tr>
                                            <td>Na servisu</td>
                                            <td><b>5</b></td>
                                        </tr>
                                        <tr>
                                            <td>Vozila u kvaru</td>
                                            <td><b>2</b></td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card my-2 shadow">
                <h5 class="card-header">AI <i>Informacije</i></h5>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-outline-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-5 border border-1 border-secondary border-end-0">
            <h4 class="py-2 px-1 border-bottom fs-4"><i>Budzet</i></h4>
            <div class="card my-2 shadow">
                <h5 class="card-header"><i>ROI Firme</i></h5>
                <div class="card-body">
                    <div id="myChart" style="max-width:700px; height:300px" class="px-0 border"></div>
                    <script>
                        google.charts.load('current', {'packages':['corechart']});
                        google.charts.setOnLoadCallback(drawChart);
                        
                        function drawChart() {
                        // Set Data
                        const data = google.visualization.arrayToDataTable([
                        ['Price', 'Size'],
                        [50,7],[60,8],[70,8],[80,9],[90,9],[100,9],
                        [110,10],[120,11],[130,14],[140,14],[150,15]
                        ]);
                        // Set Options
                        const options = {
                        title: 'House Prices vs Size',
                        hAxis: {title: 'Square Meters'},
                        vAxis: {title: 'Price in Millions'},
                        legend: 'none'
                        };
                        // Draw Chart
                        const chart = new google.visualization.LineChart(document.getElementById('myChart'));
                        chart.draw(data, options);
                        }
                    </script>
                </div>
            </div>
        </div>
        <div class="col-3 rounded-end border border-1 border-secondary">
            <h4 class="py-2 px-1 border-bottom"><i>Obavijesti</i></h4>
            <div class="toast show my-2" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">Vozilo</strong>
                    <small>11 mins ago</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    <strong>Jedno od vaših vozila je na servisu.</strong>
                    Registracija vozila ističe za 5 dana.
                </div>
            </div>
            <div class="toast show my-2" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">Vozilo</strong>
                    <small>11 mins ago</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    <strong>Jedno od vaših vozila je u kvaru.</strong>
                    Popravka vozila je u toku.
                </div>
            </div>
            <div class="toast show my-2" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">Uposlenik</strong>
                    <small>11 mins ago</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    <strong>Uposlenik se nije prijavio u smjenu.</strong>
                    Molimo obavite neophodne radnje.
                </div>
            </div>
            <div class="toast show my-2" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">Uposlenik</strong>
                    <small>11 mins ago</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    <strong>Uposlenik je prijavio odmor.</strong>
                    Molimo obavite neophodne radnje.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
