<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">APP v1</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="nav-link">Odjava</button>
                    </form>
                    </li>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Opcije
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'registracija' %}">Dodaj Korisnika</a></li>
                        <li><a class="dropdown-item" href="{% url 'firma_unos' %}">Dodaj Firmu</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><h6 class="dropdown-header" href="#">verzija: 1.0</h6></li>
                    </ul>
                    </li>
                </ul>
                <div class="d-flex">
                    {% if user.is_staff %}
                        <a href="/admin" class="btn btn-outline-danger mx-3 py-1">Admin</a>
                    {% endif %}
                </div>
                <form class="d-flex" role="search"> 
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                </div>
            </div>
            </nav>
    </div>
    <div class="container">
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>